.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    border: 1px solid darkred;
    margin: 0 auto;
}

.btn {
    border-radius: 50%;
    font-size: 22px;
    color: beige;
    padding: 50px;
    min-width: 50px;
    background: darkred;
    filter: blur(10px) contrast(12);

    &:active,
    &:focus {
        outline: none;
        border: 0
    }
}