.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    border: 1px solid darkred;
    margin: 0 auto;
}

.toggleBtn {
    position: absolute;
    right: 10%;
    top: 20px;
    z-index: 20;
    border-radius: 5px;
    font-size: 22px;
    padding: 5px;
    min-width: 50px;
    background: rebeccapurple;
    color: beige;

    &:active,
    &:focus {
        outline: none;
        border: 0
    }
}

.itemWrapper {
    border: 1px solid black;
    padding: 50px;
}